---
import LayoutBabeng from '../../layouts/LayoutBabeng.astro';
import { Image } from 'astro:assets';
import Minji1 from '../../assets/img/nj/minji/minji-1.jpg'
import Minji2 from '../../assets/img/nj/minji/minji-2.jpg'
import Minji3 from '../../assets/img/nj/minji/minji-3.jpg'
import BabengCard from '../../components/babeng/BabengCard.astro';
---
<LayoutBabeng title="Welcome to Astro.">
<div >
  Ini Transisi pages
  <div>
    <h1 class="text-3xl font-bold underline ">
      Hello world!
    </h1>
  </div>
  <div class="grid grid-cols-2 px-10">
    <div>
      <p>Ini keterangan</p>
    </div>
    <BabengCard link={'/transition'}/>
    <!-- <div class="card w-96 bg-base-100 shadow-xl">
      <figure>
        <Image src={Minji1} alt="minji-1"/>
      </figure>
      <div class="card-body">
        <h2 class="card-title">Shoes!</h2>
        <p>If a dog chews shoes whose shoes does he choose?</p>
        <div class="card-actions justify-end">
          <a href="/transition">
            <button class="btn btn-primary">Back</button></a>
        </div>
      </div>
    </div> -->
  </div>
</div>
</LayoutBabeng>
